<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated sip -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="es.uji.control.sip.model.emf.sip.presentation.SipModelWizardID"
            name="%_UI_SipModelWizard_label"
            class="es.uji.control.sip.model.emf.sip.presentation.SipModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SipModelFile.gif">
         <description>%_UI_SipModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated sip -->
      <editor
            id="es.uji.control.sip.model.emf.sip.presentation.SipEditorID"
            name="%_UI_SipEditor_label"
            icon="icons/full/obj16/SipModelFile.gif"
            extensions="sip"
            class="es.uji.control.sip.model.emf.sip.presentation.SipEditor"
            contributorClass="es.uji.control.sip.model.emf.sip.presentation.SipActionBarContributor">
      </editor>
   </extension>

</plugin>
